<#assign ctx="${request.contextPath}" />
<#assign staticCtx="${request.contextPath}/resources" />
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" media="screen" type="text/css" href="${staticCtx}/jqGrid/css/ui.jqgrid.css"/>
<script type="text/javascript" src="${staticCtx}/jqGrid/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="${staticCtx}/jqGrid/js/i18n/grid.locale-cn.js"></script>
<script type="text/javascript" src="${staticCtx}/jqGrid/js/jquery.jqGrid.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script type="text/javascript">
 
 
 $(function(){
     
     $("#list").jqGrid({
           url:'${ctx}/goods/grid',// 获取数据的url,action
           datatype: "json",//后台返回的数据格式
           mtype:"post",//提交的方式,默认是get
           //width:1024,//这个宽度不能为百分比,
           autowidth:true,//自动宽
           colNames:['商品编码', '商品名称', '是否新品','是否精品','是否热销',],
           colModel:[
                      {name:'code',index:'code', editable:true,sortable:true},
                      {name:'name',index:'name', editable:true,sortable:true},
                      {name:'isNew',index:'isNew', width:100,editable:true},
                      {name:'isGood',index:'isGood', align:"center",editable:true},
                      {name:'isHot',index:'isHot', align:"center",editable:true},       
                    
                  ],
           postData:{page:0,hahah:123},//此参数用来向后台提交数据*****可以自己添加需要的参数
           styleUI : 'Bootstrap',
           caption:"商品列表",//表名称
           //multiselect: true,//开启多选
           rowNum:10,//每页显示的条数,此参数会被传递到后台
           rowList:[10,20,30,50],//定义每页显示的条数下拉框选择,会覆盖rowNum
           viewrecords: true,//定义是否显示总的数据条数
           pager: '#pager',//定义翻页用的导航栏,必须是有效的html元素,可以放在任意位置
           height : "auto",
           rownumbers:true//添加左侧行号
       });
      // $("#list").jqGrid('navGrid','#pager', {edit:true,add:true,del:true,search:true,refresh:true,addtext:'添加'});  
      $("#list").jqGrid("navGrid","#pager",{view :true}); 
 });
</script>
<body>
	<div style="margin-left:20px">
	    <table id="list"></table>
	    <div id="pager"></div>
	</div>
</body>
</html>