<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ync365.seed.bussiness.modules.promotion.dao.CouponMapper" >
  <resultMap id="BaseResultMap" type="com.ync365.seed.bussiness.modules.promotion.entity.Coupon" >
    <id column="coupon_id" property="couponId" jdbcType="INTEGER" />
    <result column="coupon_amount" property="couponAmount" jdbcType="DECIMAL" />
    <result column="valid_start" property="validStart" jdbcType="TIMESTAMP" />
    <result column="valid_end" property="validEnd" jdbcType="TIMESTAMP" />
    <result column="promotion_id" property="promotionId" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    coupon_id, coupon_amount, valid_start, valid_end, promotion_id, description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from coupon
    where coupon_id = #{couponId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from coupon
    where coupon_id = #{couponId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ync365.seed.bussiness.modules.promotion.entity.Coupon" >
    insert into coupon (coupon_id, coupon_amount, valid_start, 
      valid_end, promotion_id, description
      )
    values (#{couponId,jdbcType=INTEGER}, #{couponAmount,jdbcType=DECIMAL}, #{validStart,jdbcType=TIMESTAMP}, 
      #{validEnd,jdbcType=TIMESTAMP}, #{promotionId,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ync365.seed.bussiness.modules.promotion.entity.Coupon" >
    insert into coupon
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="couponId != null" >
        coupon_id,
      </if>
      <if test="couponAmount != null" >
        coupon_amount,
      </if>
      <if test="validStart != null" >
        valid_start,
      </if>
      <if test="validEnd != null" >
        valid_end,
      </if>
      <if test="promotionId != null" >
        promotion_id,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="couponId != null" >
        #{couponId,jdbcType=INTEGER},
      </if>
      <if test="couponAmount != null" >
        #{couponAmount,jdbcType=DECIMAL},
      </if>
      <if test="validStart != null" >
        #{validStart,jdbcType=TIMESTAMP},
      </if>
      <if test="validEnd != null" >
        #{validEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="promotionId != null" >
        #{promotionId,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ync365.seed.bussiness.modules.promotion.entity.Coupon" >
    update coupon
    <set >
      <if test="couponAmount != null" >
        coupon_amount = #{couponAmount,jdbcType=DECIMAL},
      </if>
      <if test="validStart != null" >
        valid_start = #{validStart,jdbcType=TIMESTAMP},
      </if>
      <if test="validEnd != null" >
        valid_end = #{validEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="promotionId != null" >
        promotion_id = #{promotionId,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where coupon_id = #{couponId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ync365.seed.bussiness.modules.promotion.entity.Coupon" >
    update coupon
    set coupon_amount = #{couponAmount,jdbcType=DECIMAL},
      valid_start = #{validStart,jdbcType=TIMESTAMP},
      valid_end = #{validEnd,jdbcType=TIMESTAMP},
      promotion_id = #{promotionId,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR}
    where coupon_id = #{couponId,jdbcType=INTEGER}
  </update>
</mapper>