<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ync365.seed.bussiness.modules.order.dao.OrderOptLogMapper" >
  <resultMap id="BaseResultMap" type="com.ync365.seed.bussiness.modules.order.entity.OrderOptLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="CHAR" />
    <result column="order_type" property="orderType" jdbcType="INTEGER" />
    <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
    <result column="del_status" property="delStatus" jdbcType="INTEGER" />
    <result column="opt_num" property="optNum" jdbcType="VARCHAR" />
    <result column="opt_time" property="optTime" jdbcType="TIMESTAMP" />
    <result column="opt_name" property="optName" jdbcType="VARCHAR" />
    <result column="change_id" property="changeId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, order_no, order_type, order_status, del_status, opt_num, opt_time, 
    opt_name, change_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_opt_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_opt_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ync365.seed.bussiness.modules.order.entity.OrderOptLog" >
    insert into order_opt_log (id, order_id, order_no, 
      order_type, order_status, del_status, 
      opt_num, opt_time, opt_name, 
      change_id)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{orderNo,jdbcType=CHAR}, 
      #{orderType,jdbcType=INTEGER}, #{orderStatus,jdbcType=INTEGER}, #{delStatus,jdbcType=INTEGER}, 
      #{optNum,jdbcType=VARCHAR}, #{optTime,jdbcType=TIMESTAMP}, #{optName,jdbcType=VARCHAR}, 
      #{changeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ync365.seed.bussiness.modules.order.entity.OrderOptLog" >
    insert into order_opt_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="delStatus != null" >
        del_status,
      </if>
      <if test="optNum != null" >
        opt_num,
      </if>
      <if test="optTime != null" >
        opt_time,
      </if>
      <if test="optName != null" >
        opt_name,
      </if>
      <if test="changeId != null" >
        change_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=CHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="optNum != null" >
        #{optNum,jdbcType=VARCHAR},
      </if>
      <if test="optTime != null" >
        #{optTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optName != null" >
        #{optName,jdbcType=VARCHAR},
      </if>
      <if test="changeId != null" >
        #{changeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ync365.seed.bussiness.modules.order.entity.OrderOptLog" >
    update order_opt_log
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=CHAR},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="delStatus != null" >
        del_status = #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="optNum != null" >
        opt_num = #{optNum,jdbcType=VARCHAR},
      </if>
      <if test="optTime != null" >
        opt_time = #{optTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optName != null" >
        opt_name = #{optName,jdbcType=VARCHAR},
      </if>
      <if test="changeId != null" >
        change_id = #{changeId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ync365.seed.bussiness.modules.order.entity.OrderOptLog" >
    update order_opt_log
    set order_id = #{orderId,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=CHAR},
      order_type = #{orderType,jdbcType=INTEGER},
      order_status = #{orderStatus,jdbcType=INTEGER},
      del_status = #{delStatus,jdbcType=INTEGER},
      opt_num = #{optNum,jdbcType=VARCHAR},
      opt_time = #{optTime,jdbcType=TIMESTAMP},
      opt_name = #{optName,jdbcType=VARCHAR},
      change_id = #{changeId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>