<#assign ctx="${request.contextPath}" /> <#assign
staticCtx="${request.contextPath}/resources" />
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--  css  -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="${staticCtx}/css/style.css" />
<!--  js  -->
<script type="text/javascript" src="${staticCtx}/js/jquery-1.11.0.min.js"></script>
<!--  WdatePicker  -->
<link rel="stylesheet" type="text/css" href="${staticCtx}/My97DatePicker/skin/WdatePicker.css" />
<script type="text/javascript" src="${staticCtx}/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript">
$(function(){
	var opera = "${opera}";
	if (opera == "1") { //编辑
	}else if(opera == "2"){ //查看
		//隐藏按钮
		$("#btnSbumit").hide();		
	}
	var couponAmountVal ='${promotionCouponVo.couponAmount}';//后台回显到页面的红包面值
	var couponAllAmount = '${promotionCouponVo.couponAllAmount}';//后台回显到页面的红包总额	
	//alert(couponAllAmount);
	$("#spanId").html(couponAllAmount);//页面回显总额
	$("#couponAmount option").each(function(){		
		if($(this).val()!=couponAmountVal){			
			var html = "<option selected='selected' value='" + couponAmountVal + "'>"+ couponAmountVal + "元</option>"
			$("#couponAmount").append(html);
			return false;//跳出each循环
		}		
	});
	
	$("#addOption").click(function(){
		var customMoney = $("#custom").val();
		//alert(isNaN(customMoney));
		if(customMoney == null||isNaN(customMoney)){
			alert("输入的面值不合法！");
			return;
		}		
		//alert(customMoney);
		var html = "<option value='" + customMoney + "'>"+ customMoney + "元</option>"
		$("#couponAmount").append(html);
	});
	
	$('#couponCount').bind('input propertychange', function() {
	  var couponAmount = $("#couponAmount").val();//获取选择的面值
	  var couponCount =  $('#couponCount').val();//获取发行量
	   //alert(couponCount);
	  //计算总额
	  var totalCoupon = couponAmount*couponCount;	  
	  $("#spanId").html(totalCoupon);
		//把总额设置到隐藏域的input框里提交到后台
	  $("#couponAllAmount").val(totalCoupon);
	});
	
});
//提交表单之前进行数据校验
function toVaild(){		
	var promotionName = $("#promotionName").val();
	var storeId = $("#storeId").val();
	var couponAmount = $("#couponAmount").val();	
	var grantStartTime = $("#grantStartTime").val();
	var grantEndTime = $("#grantEndTime").val();
	var startTime = $("#startTime").val();
	var endTime = $("#endTime").val();	
	if(promotionName==null||promotionName==""){
		alert("请输入活动名称");
		return false;	
	}else if(storeId==null||storeId==""){
		alert("请选择店铺");
		return false;	
	}else if(couponAmount==null||couponAmount==""){
		alert("请选择红包面值");
		return false;	
	}else{
		return true;//提交
	}
}

</script>
 <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        th{
        	width: 150px;
        }      
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 500px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
</style>  
<body>
	<form action="${ctx}/promotionCoupon/edit"  method="post" onsubmit="return toVaild()">
		<table class="table table-bordered table-hover definewidth m10"> 
			<tr>
				<th>活动名称：</th>
				<td><input class="" type="text" id="promotionName"	name="promotionName" value="${promotionCouponVo.promotionName}"/>
					店铺名称：					
					<select	name="storeId" id="storeId">
						<option value="">--请选择店铺--</option>
						<option value="-1" <#if (popStoreId==-1)> selected="selected"</#if>>自营</option>
						<#list popStoreList as popStore>
							<option value="${popStore.id}" <#if (popStore.id==popStoreId)> selected="selected"</#if>>${popStore.popStoreName}</option>
						</#list>
					</select> 
				</td>
				<!-- 放一个活动id的隐藏域 -->
					<input type="hidden" name="promotionId" value="${promotionCouponVo.promotionId}"/>
			</tr>
			
			<tr >
				<th>红包类型：</th>
				<td>
					<input class="" type="radio" id="couponChannel" name="couponChannel" <#if (promotionCouponVo.couponChannel==1)> checked="checked"</#if>	 value="1"/>注册发放
					<input class="" type="radio" id="couponChannel" name="couponChannel"  <#if (promotionCouponVo.couponChannel==3)> checked="checked"</#if>  value="3"/>线上发放
                </td>
				
			</tr>		
		
			<tr>	
				<th>参与商品：</th>				
				<td>
					<input class="" type="radio" id="couponType" name="couponType" value="0" <#if (promotionCouponVo.couponType==0)> checked="checked"</#if>/>全部商品参与
					<input class="" type="radio" id="couponType" name="couponType" value="1" <#if (promotionCouponVo.couponType==1)> checked="checked"</#if>/>部分商品参与
				</td>
			</tr>
			<tr>
				<th>订单金额：</th>
				<td>
					<input class="" type="text" id="limitedAmount" name="limitedAmount" value="${promotionCouponVo.limitedAmount!''}"/>元&nbsp;&nbsp;&nbsp;&nbsp;备注：适用于全部商品参与
				</td>
			</tr>
			<tr>
			<th >红包面值：</th>
			<td>
				<select name="couponAmount" id="couponAmount">
						<option id="option0" value="0" <#if (promotionCouponVo.couponAmount==0 )> selected="selected"	</#if>>--请选择--</option>
						<option id="option1" value="5" <#if (promotionCouponVo.couponAmount==5 )> selected="selected"	</#if>>5元</option>
						<option id="option2" value="10" <#if (promotionCouponVo.couponAmount==10 )> selected="selected"	</#if>>10元</option>
						<option id="option3" value="20" <#if (promotionCouponVo.couponAmount==20 )> selected="selected"	</#if>>20元</option>
						<option id="option4" value="50" <#if (promotionCouponVo.couponAmount==50 )> selected="selected"	</#if>>50元</option>
						<option id="option5" value="100" <#if (promotionCouponVo.couponAmount==100 )> selected="selected"	</#if>>100元</option>
						<option id="option6" value="200" <#if (promotionCouponVo.couponAmount==200 )> selected="selected"	</#if>>200元</option>
					</select>
				自定义<input class="" id="custom" /><input type="button" id="addOption" value="添加"/>
			</td>
			</tr>
			<tr>
				<th>发行量：</th>
				<td>
				<input class="" id="couponCount" name="couponCount" value="${promotionCouponVo.couponCount!''}"/>张
				总额：<span style="color:red" id="spanId" >0</span>元
					<input type="hidden" name="couponAllAmount" id="couponAllAmount" />
				</td>
			</tr>
			<tr>
				<th >发行时间：</th>
				<td>
					<input class="Wdate" onFocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss'})"
					type="text" id="grantStartTime" name="grantStartTime"  value="${promotionCouponVo.grantStartTime?string("yyyy-MM-dd HH:mm:ss")}"/>至<input class="Wdate" onFocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss'})" 
					type="text" id="grantEndTime" name="grantEndTime" value="${promotionCouponVo.grantEndTime?string("yyyy-MM-dd HH:mm:ss")}" />
				</td>
			</tr>
			<tr>
				<th>使用时间：</th>
				<td>
					<input class="Wdate" onFocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss'})"
					type="text" id="validStart" name="startTime"  value="${promotionCouponVo.startTime?string("yyyy-MM-dd HH:mm:ss")}"/>至<input class="Wdate" onFocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss'})" 
					type="text" id="validEnd" name="endTime" value="${promotionCouponVo.endTime?string("yyyy-MM-dd HH:mm:ss")}"/>
				</td>
			</tr>
			<tr>
				<th>使用说明：</th>
				<td>
					<textarea rows="2" cols="40" id="remark" name="remark">${promotionCouponVo.remark}</textarea>
				</td>
			</tr>
			<tr>				 
				<td colspan="2"><input id="btnSbumit" type="submit" style="margin-left: 260px" name="submit" class="btn btn-primary" value="提交"></td>
			</tr>
		</table>
	</form>
</body>
</html>