<#assign ctx="${request.contextPath}" /> <#assign staticCtx="${request.contextPath}/resources" />
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- css -->
<link rel="stylesheet" type="text/css" href="${staticCtx}/css/style.css" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!-- js -->
<script type="text/javascript" src="${staticCtx}/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="${staticCtx}/js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="${staticCtx}/js/pagination.js"></script>
<script type="text/javascript" src="${staticCtx}/js/tooldate.js"></script>
<script type="text/javascript" src="${staticCtx}/js/toolenum.js"></script>
<!--  WdatePicker  -->
<link rel="stylesheet" type="text/css" href="${staticCtx}/My97DatePicker/skin/WdatePicker.css" />
<script type="text/javascript" src="${staticCtx}/My97DatePicker/WdatePicker.js"></script>
</head>
<body>	
		<div style="margin: 10px;">
			<form class="form-inline" role="form">
				下单时间 <input class="Wdate"	onFocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss'})" type="text" id="createTime" name="createTime" />
				&nbsp;&nbsp;&nbsp;&nbsp;订单号：<input type="text" class="" name="orderNo" id="orderNo"/> 
				&nbsp;&nbsp;&nbsp;&nbsp;US手机号：<input type="text" class="" name="usTel" id="usTel"/> <br/>
				US姓名：<input type="text" class="" name="usName" id="usName" /> 
				&nbsp;&nbsp;&nbsp;VS姓名：<input type="text" class="" name="vsName" id="vsName"/> 
				&nbsp;&nbsp;&nbsp;VS手机号：<input type="text" class="" name="vsTel" id="vsTel" /><br/> 
				LC姓名：<input type="text" class="" name="lcName"  id="lcName"/> 
				&nbsp;&nbsp;&nbsp;LC手机号：<input type="text" class="" name="lcTel" id="lcTel" /> 
				&nbsp;&nbsp;&nbsp;支付类型：<select name="payType" id="payType">
						<option value="">--请选择--</option>
						<option value="0">自主支付</option>
						<option value="1">合并支付</option>
					  </select><br/>
				支付方式：<select name="payWay" id="payWay">
						<option value="">--请选择--</option>
						<option value="1">云农宝支付</option>
						<option value="2">农行支付</option>
					  </select>
				订单来源：<select name="orderSource" id="orderSource">
						<option value="">--请选择--</option>
						<option value="1">PC</option>
						<option value="2">IOS</option>
						<option value="3">安卓</option>
						<option value="4">ipad</option>
					  </select>
				订单状态：<select name="orderStatus" id="orderStatus">
						<option value="">--请选择--</option>
						<option value="1">待付款</option>
						<option value="2">待审核</option>
						<option value="3">已审核</option>
						<option value="4">已支付</option>
						<option value="5">已配货</option>
						<option value="6">已出库</option>
						<option value="7">已发货</option>
						<option value="9">已完成</option>
						<option value="10">已取消</option>
						<option value="11">已关闭</option>						
					  </select>					
				<input type="button" id="btnSearch" class="btn btn-primary" value="查询"/>				
			</form>
		</div>
		<div class="">
		订单列表
			<table id="list" class="table table-hover">
				<thead>
					<tr align="center">						
						<th>订单号</th>
						<th>下单时间</th>						
						<th>下单金额</th>
						<th>成交金额</th>
						<th>下单人</th>
						<th>订单来源</th>
						<th>订单状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody id="tbodyList">
				
				</tbody>
			</table>
			<div id="pager"></div>
		</div>
</body>
<#noparse>
<!-- 列表模板  -->
<script type="text/x-jquery-tmpl" id="tmplList">
{{each(i,row) data.rows}}
	<tr>		
		<td>${row.orderNo}</td>
		<td>${timestampToTime(row.createTime)}</td>		
		<td>${row.totalAmount}</td>
		<td>${row.actualAmount}</td>		
		<td>${row.username}</td>
		<td>
			${row.orderSource == 1 ? "PC" : ""}
			${row.orderSource == 2 ? "IOS": ""}
			${row.orderSource == 3 ? "安卓" : ""}
			${row.orderSource == 4 ? "Ipad" : ""}
		</td>
		<td>		
			<font color="gray">${row.orderStatus == 1 ? "待付款":""}</font>
			<font color="orange">${row.orderStatus == 2 ? "待审核":""}</font>
			<font color="green">${row.orderStatus == 3 ? "已审核":""}</font>
			<font color="red">${row.orderStatus == 4 ? "已支付":""}</font>
			${row.orderStatus == 5 ? "已配货":""}
			${row.orderStatus == 6 ? "已出库":""}
			${row.orderStatus == 7 ? "已发货":""}
			<font color="green">${row.orderStatus == 9 ? "已完成":""}</font>
			${row.orderStatus == 10 ? "已取消":""}
			${row.orderStatus == 11 ? "已关闭":""}
			${row.orderStatus == 12 ? "已退货":""}
		</td>
			{{if row.status==1}}
				<a href="javascript:void(0);" onclick="end(${row.promotionId})" >终止</a>
			{{else}}
				<a href="${data.ctx}/promotionDown/editPage?id=${row.promotionId}&opera=1">编辑</a>
				<a href="javascript:void(0);" onclick="del(${row.promotionId})" >删除</a>				
				<a href="javascript:void(0);" onclick="start(${row.promotionId})" >启动</a>
			{{/if}}
		
		<td>
		{{if row.orderStatus<3}}			
			<a id="change" href="${data.ctx}/order/toOrderChange?orderId=${row.id}" >订单改价</a>	
		{{/if}}	
		{{if row.orderStatus==2}}	
			
			<a id="check" href="${data.ctx}/order/toOrderChangeCheck?orderId=${row.id}" >审核改价</a>				
		{{/if}}			
			<a id="detail" href="${data.ctx}/order/orderDetail?orderId=${row.id}&orderType=${row.orderType}" >订单详情</a>
		{{if row.orderStatus==9}}				
			<a id="return" href="${data.ctx}/order/returnMarker?orderId=${row.id}&orderType=${row.orderType}" >退货标记</a>	
		{{/if}}		
		</td>		
	</tr>
{{/each}}
</script>
</#noparse>
<script type="text/javascript">
	$(function() {
		getList(1);
		$("change").hide();
		$("check").hide();
		$("detail").hide();
		$("cancle").hide();
		$("return").hide();
		
		$("#btnSearch").click(function(){			
			getList(1);
		});
		//鼠标移入事件
		$("opt").mouseover(function(){
			  $("change").show();
			  $("check").show();
			  $("detail").show();
			  $("cancle").show();
			  $("return").show();
		});
			
	});
	//取消订单
	function cancleOrder(id){
		if (confirm("您确认要取消此订单吗？") == true) {
			$.ajax({
				type : "post",
				url : "${ctx}/order/cancleOrder",				
				data : {
					orderId : id
				},
				success : function(data) {					
					if (data == "OK") {
						alert("订单取消成功！");
						$("#btnSearch").click();
					} else {
						alert("订单取消失败");
					}
				}
			});
		}
	}
	//获取订单列表
	function getList(pageIndex) {
		//alert("---");
		$.ajax({
			type : "post",
			url : "${ctx}/order/grid",
			data : {							
				createTime : $("#createTime").val(),				
				orderNo : $("#orderNo").val(),
				usTel : $("#usTel").val(),
				usName : $("#usName").val(),
				vsName : $("#vsName").val(),
				vsTel : $("#vsTel").val(),
				lcName : $("#lcName").val(),				
				lcTel : $("#lcTel").val(),
				payType : $("#payType").val(),				
				payWay : $("#payWay").val(),
				orderSource : $("#orderSource").val(),
				orderStatus : $("#orderStatus").val(),//订单状态	
				pageIndex : pageIndex,// 当前页
				pageSize : 10,//每页显示记录数				
				sort : "create_time",//排序字段
				order : "desc"//asc||desc
			},
			success : function(data) {
				if (data == null || data.records == 0) {
					$("#tbodyList").html("暂无记录");
				} else {
					data.ctx = "${ctx}";
					$("#tbodyList").html($("#tmplList").tmpl({
						data : data
					}));
					//分页控件
					var pager = new pagination(function() {
						getList($(this).attr("data-index"));
					});
					pager.pageIndex = data.page;//当前页码
					pager.pageSize = data.pageSize;//页大小
					pager.totalCount = data.records;//总条数
					pager.totalPage = data.total;//总页数
					$("#pager").html(pager.creat());
				}
			}
		});
	};
	
	//根据订单id，删除订单
	function del(id) {
		if (confirm("您确认要删除此订单吗？") == true) {
			$.ajax({
				type : "post",
				url : "${ctx}/order/delete",				
				data : {
					id : id
				},
				success : function(data) {					
					if (data == "OK") {
						alert("删除成功");
						$("#btnSearch").click();
					} else {
						alert("删除失败");
					}
				}
			});
		}
	}
	function OrderChange(){
		alert("1111");
		//window.open("orderChange.html");
		//window.location.href="orderChange.html";
	}
	
</script>
</html>