<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 
	<bean id="seedProducer" class="com.ync365.seed.commons.rocketmq.producer.SeedProducer" init-method="init" destroy-method="destroy" scope="singleton" >
		<property name="producerGroup" value="seedProducerGroup"/> 
		<property name="namesrvAddr" value="$[rocketmq.namesrvAddr]" /> 
	</bean>
	
	<bean id="seedConsumer" class="com.ync365.seed.commons.rocketmq.consumer.SeedConsumer" init-method="init" destroy-method="destroy" scope="singleton" >
		<property name="consumerGroup" value="seedConsumerGroup"/> 
		<property name="namesrvAddr" value="$[rocketmq.namesrvAddr]" /> 
	</bean>
</beans>
