<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ync365.seed.bussiness.modules.user.dao.SysDoWorkMapper" >
  <resultMap id="BaseResultMap" type="com.ync365.seed.bussiness.modules.user.entity.SysDoWork" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="work_name" property="workName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, work_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_do_work
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_do_work
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ync365.seed.bussiness.modules.user.entity.SysDoWork" >
    insert into sys_do_work (id, work_name)
    values (#{id,jdbcType=INTEGER}, #{workName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ync365.seed.bussiness.modules.user.entity.SysDoWork" >
    insert into sys_do_work
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="workName != null" >
        work_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="workName != null" >
        #{workName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ync365.seed.bussiness.modules.user.entity.SysDoWork" >
    update sys_do_work
    <set >
      <if test="workName != null" >
        work_name = #{workName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ync365.seed.bussiness.modules.user.entity.SysDoWork" >
    update sys_do_work
    set work_name = #{workName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectPageByMap" parameterType="map" resultMap="BaseResultMap">
	  	select
		  <include refid="Base_Column_List" />
		from sys_do_work
		<where>
		<if test="id != null" >
	       id = #{id,jdbcType=INTEGER},
	     </if>
	     <if test="workName != null and workName != ''" >
	       work_name = #{workName,jdbcType=VARCHAR},
	     </if>
		</where>
		<if test="pageIndex !=null and pageSize != null">
			limit ${pageIndex},${pageSize}
		</if>
  </select>
  <select id="selectPageCount" parameterType="map" resultType="int">
  		select
		  count(1)
		from sys_do_work
		<where>
		<if test="id != null" >
	       id = #{id,jdbcType=INTEGER},
	     </if>
	     <if test="workName != null and workName != ''" >
	       work_name = #{workName,jdbcType=VARCHAR},
	     </if>
		</where>
  </select>
</mapper>