<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ync365.seed.bussiness.modules.user.dao.SysLcInfoMapper">
	<resultMap id="BaseResultMap"
		type="com.ync365.seed.bussiness.modules.user.entity.SysLcInfo">
		<result column="user_num" property="userNum" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="telephone" property="telephone" jdbcType="VARCHAR" />
		<result column="work_year" property="workYear" jdbcType="INTEGER" />
		<result column="local_farmer_count" property="localFarmerCount"
			jdbcType="INTEGER" />
		<result column="local_cropland_area" property="localCroplandArea"
			jdbcType="INTEGER" />
		<result column="ID_card" property="idCard" jdbcType="VARCHAR" />
		<result column="service_distinct" property="serviceDistinct"
			jdbcType="INTEGER" />
		<result column="address" property="address" jdbcType="INTEGER" />
		<result column="address_detail" property="addressDetail"
			jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="authentication_state" property="authenticationState"
			jdbcType="INTEGER" />
		<result column="authentication_time" property="authenticationTime"
			jdbcType="TIMESTAMP" />
	</resultMap>

	<resultMap id="ResultMap"
		type="com.ync365.seed.bussiness.modules.user.bo.LcInfoBO" extends="BaseResultMap">
		<result column="is_frozen" property="isFrozen" jdbcType="BIT" />
		<result column="user_mobile" property="userMobile" jdbcType="VARCHAR" />
		<result column="user_login_name" property="userLoginName" jdbcType="VARCHAR" />
		<result column="safe_score" property="safeScore" jdbcType="INTEGER" />
		<result column="sys_user_real_name" property="name" jdbcType="VARCHAR" />
		<result column="sys_user_birthday" property="birthday"
			jdbcType="TIMESTAMP" />
		<result column="sys_user_photo_path" property="photoPath"
			jdbcType="VARCHAR" />
		<result column="sys_nickname" property="nickName" jdbcType="VARCHAR" />
		<result column="sys_user_address" property="address" jdbcType="INTEGER" />
		<result column="sys_user_address_detail" property="addressDetail"
			jdbcType="VARCHAR" />
		<result column="sys_user_farm_area" property="farmArea"
			jdbcType="INTEGER" />
		<result column="sys_user_gender" property="gender" jdbcType="INTEGER" />
		<result column="sys_user_photo_path" property="photoPath"
			jdbcType="VARCHAR" />
		<result column="sys_user_ID_card" property="idCard" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		user_num, telephone,
		work_year, local_farmer_count, local_cropland_area,
		create_time, authentication_state,
		authentication_time
	</sql>
	<insert id="insertSelective"
		parameterType="com.ync365.seed.bussiness.modules.user.entity.SysLcInfo">
		insert into sys_lc_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userNum != null">
				user_num,
			</if>
			<if test="telephone != null">
				telephone,
			</if>
			<if test="workYear != null">
				work_year,
			</if>
			<if test="localFarmerCount != null">
				local_farmer_count,
			</if>
			<if test="localCroplandArea != null">
				local_cropland_area,
			</if>
			create_time,
			<if test="authenticationState != null">
				authentication_state,
			</if>
			<if test="authenticationTime != null">
				authentication_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userNum != null">
				#{userNum,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				#{telephone,jdbcType=VARCHAR},
			</if>
			<if test="workYear != null">
				#{workYear,jdbcType=INTEGER},
			</if>
			<if test="localFarmerCount != null">
				#{localFarmerCount,jdbcType=INTEGER},
			</if>
			<if test="localCroplandArea != null">
				#{localCroplandArea,jdbcType=INTEGER},
			</if>
			now(),
			<if test="authenticationState != null">
				#{authenticationState,jdbcType=INTEGER},
			</if>
			<if test="authenticationTime != null">
				#{authenticationTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<delete id="deleteByPrimaryKey" parameterType="string">
		delete from
		sys_lc_info
		where user_num = #{userNum,jdbcType=VARCHAR}
	</delete>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="string">
		select
		<include refid="Base_Column_List" />
		from sys_lc_info
		where user_num = #{userNum,jdbcType=VARCHAR}
	</select>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.ync365.seed.bussiness.modules.user.entity.SysLcInfo">
		update sys_lc_info
		<set>
			<if test="userNum != null">
				user_num = #{userNum,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null and telephone != ''">
				telephone = #{telephone,jdbcType=VARCHAR},
			</if>
			<if test="workYear != null">
				work_year = #{workYear,jdbcType=INTEGER},
			</if>
			<if test="localFarmerCount != null">
				local_farmer_count = #{localFarmerCount,jdbcType=INTEGER},
			</if>
			<if test="localCroplandArea != null">
				local_cropland_area = #{localCroplandArea,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="authenticationState != null">
				authentication_state = #{authenticationState,jdbcType=INTEGER},
			</if>
			<if test="authenticationTime != null">
				authentication_time = #{authenticationTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where user_num = #{userNum,jdbcType=VARCHAR}
	</update>
	<select id="selectPageByMap" parameterType="map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_lc_info
		<where>
			<if test="userNum != null and userNum != ''">
				and user_num = #{userNum,jdbcType=VARCHAR}
			</if>
			<if test="telephone != null and telephone != ''">
				and telephone = #{telephone,jdbcType=VARCHAR}
			</if>
			<if test="workYear != null">
				and work_year = #{workYear,jdbcType=INTEGER}
			</if>
			<if test="localFarmerCount != null">
				and local_farmer_count = #{localFarmerCount,jdbcType=INTEGER}
			</if>
			<if test="localCroplandArea != null">
				and local_cropland_area = #{localCroplandArea,jdbcType=INTEGER}
			</if>
			<if test="createTime != null">
				and create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="authenticationState != null">
				and authentication_state = #{authenticationState,jdbcType=INTEGER}
			</if>
			<if test="authenticationTime != null">
				and authentication_time = #{authenticationTime,jdbcType=TIMESTAMP}
			</if>
		</where>
		<if test="pageIndex !=null and pageSize != null">
			limit ${pageIndex},${pageSize}
		</if>
	</select>
	<select id="selectPageCount" parameterType="map" resultType="int">
		select
		count(1)
		from sys_lc_info
		<where>
			<if test="userNum != null and userNum != ''">
				and user_num = #{userNum,jdbcType=VARCHAR}
			</if>
			<if test="telephone != null and telephone != ''">
				and telephone = #{telephone,jdbcType=VARCHAR}
			</if>
			<if test="workYear != null">
				and work_year = #{workYear,jdbcType=INTEGER}
			</if>
			<if test="localFarmerCount != null">
				and local_farmer_count = #{localFarmerCount,jdbcType=INTEGER}
			</if>
			<if test="localCroplandArea != null">
				and local_cropland_area = #{localCroplandArea,jdbcType=INTEGER}
			</if>
			<if test="createTime != null">
				and create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="authenticationState != null">
				and authentication_state = #{authenticationState,jdbcType=INTEGER}
			</if>
			<if test="authenticationTime != null">
				and authentication_time = #{authenticationTime,jdbcType=TIMESTAMP}
			</if>
		</where>
	</select>
	<!-- 根据编号或者手机号查询用户信息 -->
	<select id="selectLcInfoByNumOrMobile" resultMap="ResultMap"
		parameterType="string">
		SELECT
		sli.user_num 'userNum',
		sli.authentication_state,
		sui.sys_user_address 'userAddress',
		sui.sys_user_real_name 'name',
		su.user_mobile 'userMobile',
		su.user_login_name 'userLoginName',
		su.is_frozen
		FROM
		sys_lc_info sli
		LEFT JOIN sys_user su ON su.user_num = sli.user_num
		LEFT JOIN sys_user_info sui ON sui.user_num = sli.user_num
		WHERE
		su.user_mobile = #{userNum}
		OR sli.user_num = #{userNum}
	</select>

	<select id="getSysLcInfoByUserNum" parameterType="map"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM sys_lc_info su WHERE su.user_num = #{userNum}
	</select>
	<!-- 根据用户编号获取Lc相信信息（包括绑定关系） -->
	<select id="getLcInfoByUserNum" parameterType="string"
		resultMap="ResultMap">
		SELECT
		lc.user_mobile 'userMobile',
		lc.user_login_name 'userLoginName',
		lc.safe_score 'safeScore',
		lc.is_frozen,
		lci.*, lci.sys_user_real_name 'lcInfoName',
		sei. NAME 'seInfoName',
		se.admin_num 'seNum',
		se.admin_mobile 'seMobile',
		ai.`name` 'aInfoName',
		a.admin_mobile 'aMobile',
		a.admin_num 'aNum'
		<!-- ,lcusnum.num 'usCount', -->
		<!-- lcvsnum.num 'vsCount' -->
		FROM
		(SELECT * FROM

		(SELECT
		a1.user_num
		,a1.work_year
		,a1.telephone
		,a1.local_farmer_count
		,a1.local_cropland_area
		,a1.create_time
		,a1.authentication_time
		,a1.authentication_state
		,a2.sys_nickname
		,a2.sys_user_address
		,a2.sys_user_address_detail
		,a2.sys_user_birthday
		,a2.sys_user_farm_area
		,a2.sys_user_gender
		,a2.sys_user_ID_card
		,a2.sys_user_photo_path
		,a2.sys_user_real_name
		FROM sys_lc_info a1
		LEFT JOIN sys_user_info a2 ON a1.user_num=a2.user_num)
		sli1 WHERE sli1.user_num = #{userNum}) lci
		<!-- LEFT JOIN ( -->
		<!-- SELECT -->
		<!-- count(1) num, -->
		<!-- b.lc_num -->
		<!-- FROM -->
		<!-- sys_us_vs_relationship a -->
		<!-- LEFT JOIN sys_vs_lc_relationship b ON a.vs_num = b.vs_num -->
		<!-- GROUP BY -->
		<!-- b.lc_num -->
		<!-- ) lcusnum ON lcusnum.lc_num = lci.user_num -->
		<!-- LEFT JOIN ( -->
		<!-- SELECT -->
		<!-- count(1) num, -->
		<!-- lc_num -->
		<!-- FROM -->
		<!-- sys_vs_lc_relationship -->
		<!-- GROUP BY -->
		<!-- lc_num -->
		<!-- ) lcvsnum ON lcvsnum.lc_num = lci.user_num -->
		LEFT JOIN sys_lc_se_relationship slsr ON slsr.lc_num = lci.user_num
		LEFT JOIN sys_se_a_relationship ssar ON ssar.se_num = slsr.se_num
		LEFT
		JOIN sys_user lc ON lc.user_num = lci.user_num
		LEFT JOIN sys_admin se
		ON se.admin_num = slsr.se_num
		LEFT JOIN sys_admin a ON a.admin_num =
		ssar.a_num
		LEFT JOIN sys_admin_info sei ON sei.admin_num = slsr.se_num
		LEFT JOIN sys_admin_info ai ON ai.admin_num = ssar.a_num
	</select>

	<!-- 通过Primary编号 查询lc列表信息 -->
	<select id="selectSysLcInfoListByPrimary"
		parameterType="com.ync365.seed.bussiness.modules.user.bo.LcInfoSearchBO"
		resultMap="ResultMap">
		SELECT
		lci.*,lc.is_frozen,
		lc.user_mobile ,
		lc.user_login_name ,
		lc.safe_score ,
		sei. NAME 'seInfoName',
		se.admin_num 'seNum',
		se.admin_mobile 'seMobile',
		ai.`name` 'aInfoName',
		a.admin_mobile 'aMobile',
		a.admin_num 'aNum'
		FROM
		(SELECT
		a1.user_num
		,a1.work_year
		,a1.telephone
		,a1.local_farmer_count
		,a1.local_cropland_area
		,a1.create_time
		,a1.authentication_time
		,a1.authentication_state
		,a2.sys_nickname
		,a2.sys_user_address
		,a2.sys_user_address_detail
		,a2.sys_user_birthday
		,a2.sys_user_farm_area
		,a2.sys_user_gender
		,a2.sys_user_ID_card
		,a2.sys_user_photo_path
		,a2.sys_user_real_name
		FROM sys_lc_info a1
		LEFT JOIN sys_user_info a2 ON a1.user_num=a2.user_num)
		lci
		<!-- left join (select count(1) num1,b.lc_num from sys_us_vs_relationship 
			a LEFT JOIN sys_vs_lc_relationship b on a.vs_num = b.vs_num GROUP BY b.lc_num) 
			lcusnum on lcusnum.lc_num=lci.user_num left join (select count(1) num,lc_num 
			from sys_vs_lc_relationship GROUP BY lc_num) lcvsnum on lcvsnum.lc_num=lci.user_num -->
		left JOIN sys_lc_se_relationship slsr ON slsr.lc_num = lci.user_num
		left JOIN sys_se_a_relationship ssar ON ssar.se_num = slsr.se_num
		left JOIN sys_user lc ON lc.user_num = lci.user_num
		left JOIN sys_admin se ON se.admin_num = slsr.se_num
		left JOIN sys_admin a ON a.admin_num = ssar.a_num
		left JOIN sys_admin_info sei ON sei.admin_num = slsr.se_num
		left JOIN sys_admin_info ai ON ai.admin_num = ssar.a_num
		<where>
			<!-- a+查询 -->
			<if test="aiAdminNum !=null and aiAdminNum != '' ">
				and a.admin_num = #{aiAdminNum,jdbcType=VARCHAR}
			</if>
			<!-- se查询 -->
			<if test="seAdminNum !=null and seAdminNum != '' ">
				and se.admin_num = #{seAdminNum,jdbcType=VARCHAR}
			</if>
			<!-- 名称 -->
			<if test="lcNameSearch !=null and lcNameSearch != '' ">
				and lci.sys_user_real_name = #{lcNameSearch,jdbcType=VARCHAR}
			</if>
			<!-- 手机号 -->
			<if test="userMobileSearch !=null and userMobileSearch != '' ">
				and lc.user_mobile = #{userMobileSearch,jdbcType=VARCHAR}
			</if>
			<!-- 编号 -->
			<if test="userNumSearch !=null and userNumSearch != '' ">
				and lc.user_num = #{userNumSearch,jdbcType=VARCHAR}
			</if>
			<!--激活状态 -->
			<if test="isFrozenSearch !=null and isFrozenSearch != '' ">
				and lc.is_frozen = #{isFrozenSearch,jdbcType=BIT}
			</if>
			<!-- 注册时间 -->
			<if test="beginDateSearch !=null and beginDateSearch != '' ">
				and   <![CDATA[lc.create_time >= #{beginDateSearch}]]>
			</if>
			<if test="endDateSearch !=null and endDateSearch != '' ">
				and  <![CDATA[lc.create_time < #{endDateSearch}]]>
			</if>

			<!-- se查询条件 -->
			<if test="seInfoSearch !=null and seInfoSearch != '' ">
				and (sei.name = #{seInfoSearch,jdbcType=VARCHAR} or se.admin_mobile =
				#{seInfoSearch,jdbcType=VARCHAR})
			</if>
			<!-- A+查询条件 -->
			<if test="aInfoSearch !=null and aInfoSearch != '' ">
				and (ai.name = #{aInfoSearch,jdbcType=VARCHAR} or a.admin_mobile =
				#{aInfoSearch,jdbcType=VARCHAR})
			</if>
			<!-- 服务区域查询 -->
			<if test="serviceDistinct !=null">
				and lci.user_num in (select admin_num from sys_admin_service where
				admin_service_distinct=#{serviceDistinct})
			</if>
			<!-- lc审核状态 -->
			<if test="authenticationStateSearch !=null  ">
				and (lci.authentication_state =
				#{authenticationStateSearch,jdbcType=INTEGER} )
			</if>

			<!-- 绑定us数量 区间 <if test="usCountBeginSearch !=null and usCountBeginSearch 
				!= '' "> and <![CDATA[lcusnum.num1 >= #{usCountBeginSearch}]]> </if> <if 
				test="usCountEndSearch !=null and usCountEndSearch != '' "> and <![CDATA[lcusnum.num1 
				< #{usCountEndSearch}]]> </if> -->
			<!-- 绑定vs数量 区间 <if test="vsCountBeginSearch !=null and vsCountBeginSearch 
				!= '' "> and <![CDATA[lcvsnum.num >= #{vsCountBeginSearch}]]> </if> <if test="vsCountEndSearch 
				!=null and vsCountEndSearch != '' "> and <![CDATA[lcvsnum.num < #{vsCountEndSearch}]]> 
				</if> -->
		</where>
		order by lci.create_time desc
		<if test="pageIndex !=null and pageSize != null">
			limit ${pageIndex},${pageSize}
		</if>

	</select>

	<!-- 通过Primary用户编号 查询此A+下lc数量 -->
	<select id="selectCountSysLcInfoByPrimary"
		parameterType="com.ync365.seed.bussiness.modules.user.bo.LcInfoSearchBO"
		resultType="int">
		SELECT count(1)
		FROM
		(SELECT
		a1.user_num
		,a1.work_year
		,a1.telephone
		,a1.local_farmer_count
		,a1.local_cropland_area
		,a1.create_time
		,a1.authentication_time
		,a1.authentication_state
		,a2.sys_nickname
		,a2.sys_user_address
		,a2.sys_user_address_detail
		,a2.sys_user_birthday
		,a2.sys_user_farm_area
		,a2.sys_user_gender
		,a2.sys_user_ID_card
		,a2.sys_user_photo_path
		,a2.sys_user_real_name
		FROM sys_lc_info a1
		LEFT JOIN sys_user_info a2 ON a1.user_num=a2.user_num)
		lci
		<!-- left join (select count(1) num1,b.lc_num from sys_us_vs_relationship 
			a LEFT JOIN sys_vs_lc_relationship b on a.vs_num = b.vs_num GROUP BY b.lc_num) 
			lcusnum on lcusnum.lc_num=lci.user_num left join (select count(1) num,lc_num 
			from sys_vs_lc_relationship GROUP BY lc_num) lcvsnum on lcvsnum.lc_num=lci.user_num -->
		left JOIN sys_lc_se_relationship slsr ON slsr.lc_num = lci.user_num
		left JOIN sys_se_a_relationship ssar ON ssar.se_num = slsr.se_num
		left JOIN sys_user lc ON lc.user_num = lci.user_num
		left JOIN sys_admin se ON se.admin_num = slsr.se_num
		left JOIN sys_admin a ON a.admin_num = ssar.a_num
		left JOIN sys_admin_info sei ON sei.admin_num = slsr.se_num
		left JOIN sys_admin_info ai ON ai.admin_num = ssar.a_num
		<where>
			<!-- a+查询 -->
			<if test="aiAdminNum !=null and aiAdminNum != '' ">
				and a.admin_num = #{aiAdminNum,jdbcType=VARCHAR}
			</if>
			<!-- se查询 -->
			<if test="seAdminNum !=null and seAdminNum != '' ">
				and se.admin_num = #{seAdminNum,jdbcType=VARCHAR}
			</if>
			<!-- 名称 -->
			<if test="lcNameSearch !=null and lcNameSearch != '' ">
				and lci.sys_user_real_name = #{lcNameSearch,jdbcType=VARCHAR}
			</if>
			<!-- 手机号 -->
			<if test="userMobileSearch !=null and userMobileSearch != '' ">
				and lc.user_mobile = #{userMobileSearch,jdbcType=VARCHAR}
			</if>
			<!-- 编号 -->
			<if test="userNumSearch !=null and userNumSearch != '' ">
				and lc.user_num = #{userNumSearch,jdbcType=VARCHAR}
			</if>
			<!--激活状态 -->
			<if test="isFrozenSearch !=null and isFrozenSearch != '' ">
				and lc.is_frozen = #{isFrozenSearch,jdbcType=BIT}
			</if>
			<!-- 注册时间 -->
			<if test="beginDateSearch !=null and beginDateSearch != '' ">
				and   <![CDATA[lc.create_time >= #{beginDateSearch}]]>
			</if>
			<if test="endDateSearch !=null and endDateSearch != '' ">
				and  <![CDATA[lc.create_time < #{endDateSearch}]]>
			</if>
			<!-- se查询条件 -->
			<if test="seInfoSearch !=null and seInfoSearch != '' ">
				and (sei.name = #{seInfoSearch,jdbcType=VARCHAR} or se.admin_mobile =
				#{seInfoSearch,jdbcType=VARCHAR})
			</if>
			<!-- A+查询条件 -->
			<if test="aInfoSearch !=null and aInfoSearch != '' ">
				and (ai.name = #{aInfoSearch,jdbcType=VARCHAR} or a.admin_mobile =
				#{aInfoSearch,jdbcType=VARCHAR})
			</if>
			<!-- 服务区域查询 -->
			<if test="serviceDistinct !=null">
				and lci.user_num in (select admin_num from sys_admin_service where
				admin_service_distinct=#{serviceDistinct})
			</if>
			<!-- lc审核状态 -->
			<if test="authenticationStateSearch !=null  ">
				and (lci.authentication_state =
				#{authenticationStateSearch,jdbcType=INTEGER} )
			</if>

			<!-- 绑定us数量 区间 <if test="usCountBeginSearch !=null and usCountBeginSearch 
				!= '' "> and <![CDATA[lcusnum.num1 >= #{usCountBeginSearch}]]> </if> <if 
				test="usCountEndSearch !=null and usCountEndSearch != '' "> and <![CDATA[lcusnum.num1 
				< #{usCountEndSearch}]]> </if> -->
			<!-- 绑定vs数量 区间 <if test="vsCountBeginSearch !=null and vsCountBeginSearch 
				!= '' "> and <![CDATA[lcvsnum.num >= #{vsCountBeginSearch}]]> </if> <if test="vsCountEndSearch 
				!=null and vsCountEndSearch != '' "> and <![CDATA[lcvsnum.num < #{vsCountEndSearch}]]> 
				</if> -->
		</where>
	</select>


	<!-- 通过A+用户编号 查询此A+下lc数量 -->
	<select id="selectCountSysLcInfoByAnum" parameterType="map"
		resultType="int">
		select count(1) from sys_user a
		INNER JOIN sys_lc_info b on a.user_num = b.user_num
		LEFT JOIN sys_lc_se_relationship c on a.user_num = c.lc_num
		LEFT JOIN sys_se_a_relationship d on c.se_num = d.se_num
		LEFT JOIN sys_admin f on d.se_num = f.admin_num
		LEFT JOIN sys_admin_info h on d.se_num = h.admin_num
		LEFT JOIN sys_admin e on d.a_num = e.admin_num
		where 1=1
		<if test="adminNum !=null and adminNum != '' ">
			and e.admin_num = #{adminNum,jdbcType=VARCHAR}
		</if>
	</select>


	<!-- 通过se用户编号 查询此se下lc数量 -->
	<select id="selectCountSysLcInfoBySenum" parameterType="map"
		resultType="int">
		select count(1) from sys_user a
		INNER JOIN sys_lc_info b on a.user_num = b.user_num
		LEFT JOIN sys_lc_se_relationship c on a.user_num = c.lc_num
		LEFT JOIN sys_admin d on c.se_num = d.admin_num
		where 1=1
		<if test="adminNum !=null">
			and d.admin_num = #{adminNum,jdbcType=VARCHAR}
		</if>

	</select>

	<!--by Vs编号查询此vs的绑定Lc -->
	<select id="selectSysLcInfoByVsNum" resultMap="BaseResultMap"
		parameterType="string">
		select a.* from sys_lc_info a
		LEFT JOIN sys_vs_lc_relationship b on a.user_num = b.lc_num
		LEFT JOIN sys_user c on b.vs_num = c.user_num
		where c.user_num = #{userNum,jdbcType=VARCHAR}
	</select>


	<!--by us编号查询此us的绑定Lc -->
	<select id="selectSysLcInfoByUsNum" resultMap="BaseResultMap"
		parameterType="string">
		select a.* from sys_lc_info a
		LEFT JOIN sys_vs_lc_relationship b on a.user_num = b.lc_num
		LEFT JOIN sys_us_vs_relationship c on b.vs_num = c.vs_num
		LEFT JOIN sys_user d on c.us_num = d.user_num
		where d.user_num = #{userNum,jdbcType=VARCHAR}
	</select>
</mapper>