<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ync365.seed.bussiness.modules.user.dao.SysSeARelationshipMapper" >
  <resultMap id="BaseResultMap" type="com.ync365.seed.bussiness.modules.user.entity.SysSeARelationship" >
    <result column="se_num" property="seNum" jdbcType="VARCHAR" />
    <result column="a_num" property="aNum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
	  se_num,a_num
	</sql>
  
  <insert id="insertSelective" parameterType="com.ync365.seed.bussiness.modules.user.entity.SysSeARelationship" >
    insert into sys_se_a_relationship
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seNum != null" >
        se_num,
      </if>
      <if test="aNum != null" >
        a_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seNum != null" >
        #{seNum,jdbcType=VARCHAR},
      </if>
      <if test="aNum != null" >
        #{aNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update"
		parameterType="com.ync365.seed.bussiness.modules.user.entity.SysSeARelationship">
		update sys_se_a_relationship
		<set>
			<if test="aNum != null">
				a_num= #{aNum,jdbcType=VARCHAR},
			</if>
			<if test="seNum != null">
				se_num= #{seNum,jdbcType=VARCHAR},
			</if>
		</set>
		where se_num= #{seNum,jdbcType=VARCHAR}
	</update>
  <!--  通过 a_num 删除对象-->
  <delete id="deleteByPrimaryKeyByaNum" parameterType="java.lang.String">
		delete from
		sys_se_a_relationship
		where  a_num = #{aNum,jdbcType=VARCHAR}
	</delete>
	
	<!--  通过 seNum 删除对象-->
  <delete id="deleteByPrimaryKeyBySeNum" parameterType="java.lang.String">
		delete from
		sys_se_a_relationship
		where  se_num = #{seNum,jdbcType=VARCHAR}
	</delete>
	<!-- lsit查询 -->
	<select id="selectPageByMap" parameterType="map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_se_a_relationship
		<where>
			<if test="seNum != null" >
		      and se_num =  #{seNum,jdbcType=VARCHAR}
		     </if>
		     <if test="aNum != null" >
		      and a_num =  #{aNum,jdbcType=VARCHAR}
		    </if>
		</where>
	</select>
	<!--  list count查询-->
	<select id="selectPageCount" parameterType="map" resultType="int">
		select
		count(1)
		from sys_se_a_relationship
		<where>
			<if test="seNum != null" >
		      and se_num =  #{seNum,jdbcType=VARCHAR}
		     </if>
		     <if test="aNum != null" >
		      and a_num =  #{aNum,jdbcType=VARCHAR}
		    </if>
		</where>
	</select>
</mapper>