<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ync365.seed.bussiness.modules.user.dao.SysUserBankMapper">
	<resultMap id="BaseResultMap"
		type="com.ync365.seed.bussiness.modules.user.entity.SysUserBank">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_num" property="userNum" jdbcType="VARCHAR" />
		<result column="bank_name" property="bankName" jdbcType="VARCHAR" />
		<result column="opening_bank_address" property="openingBankAddress"
			jdbcType="VARCHAR" />
		<result column="bank_account" property="bankAccount" jdbcType="VARCHAR" />
		<result column="account_name" property="accountName" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_num, bank_name, opening_bank_address, bank_account, account_name
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sys_user_bank
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from sys_user_bank
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertSelective"
		parameterType="com.ync365.seed.bussiness.modules.user.entity.SysUserBank">
		insert into sys_user_bank
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userNum != null">
				user_num,
			</if>
			<if test="bankName != null">
				bank_name,
			</if>
			<if test="openingBankAddress != null">
				opening_bank_address,
			</if>
			<if test="bankAccount != null">
				bank_account,
			</if>
			<if test="accountName != null">
				account_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userNum != null">
				#{userNum,jdbcType=VARCHAR},
			</if>
			<if test="bankName != null">
				#{bankName,jdbcType=VARCHAR},
			</if>
			<if test="openingBankAddress != null">
				#{openingBankAddress,jdbcType=VARCHAR},
			</if>
			<if test="bankAccount != null">
				#{bankAccount,jdbcType=VARCHAR},
			</if>
			<if test="accountName != null">
				#{accountName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.ync365.seed.bussiness.modules.user.entity.SysUserBank">
		update sys_user_bank
		<set>
			<if test="userNum != null">
				user_num = #{userNum,jdbcType=VARCHAR},
			</if>
			<if test="bankName != null">
				bank_name = #{bankName,jdbcType=VARCHAR},
			</if>
			<if test="openingBankAddress != null">
				opening_bank_address = #{openingBankAddress,jdbcType=VARCHAR},
			</if>
			<if test="bankAccount != null">
				bank_account = #{bankAccount,jdbcType=VARCHAR},
			</if>
			<if test="accountName != null">
				account_name = #{accountName,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectPageByMap" resultMap="BaseResultMap"
		parameterType="map">
		select
		<include refid="Base_Column_List" />
		from sys_user_bank
		<where>
			<if test="userNum != null">
			and	user_num = #{userNum,jdbcType=VARCHAR}
			</if>
			<if test="bankName != null">
			and	bank_name = #{bankName,jdbcType=VARCHAR}
			</if>
			<if test="openingBankAddress != null">
			and	opening_bank_address = #{openingBankAddress,jdbcType=VARCHAR}
			</if>
			<if test="bankAccount != null">
			and	bank_account = #{bankAccount,jdbcType=VARCHAR}
			</if>
			<if test="accountName != null">
			and	account_name = #{accountName,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
</mapper>